* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

/* navigation bar design */
}
html {
    scroll-behavior: smooth;
}
.navigation_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(31, 31, 31, 0.75);
    position: sticky;
    top: 0;
}
.navigation_bar ul {
    display: flex;
    list-style: none;
    margin: 1.5em;
}
.navigation_bar ul li {
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 1.2em;
}
.navigation_bar ul li a {
    text-decoration: none;
    color: rgb(223, 223, 223);
    padding-left: 2.3rem;
    padding-right: 2.3rem;
    transition: all .5s ease;
}
.navigation_bar ul li a:hover {
    background-color: rgba(47, 96, 122, 0.508);
    color: rgb(223, 223, 223);
    box-shadow: 0 0 1.5em rgba(30, 61, 78, 0.84);
}

/* home page design */
#home_page {
    display: flex;
    flex-direction: column;
    height:860px;
    justify-content: center;
    align-items: center;
}
#home_page::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height:980px;
    width: 100%;
    opacity: .93;
    z-index: -1;
    background: url(space_gif.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    top: 29%;
    left: 8%;
}
#coding_image {
    opacity: .09;
    margin-top: -15em;
    margin-left: -4em;
    border-radius: 5em;
    max-width: 100%;
}
.intro_header {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
    padding: 1rem;
    color: rgb(223, 223, 223);
}
.headers {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: rgb(223, 223, 223);
}
.headers:hover {
    transform: scale(1.1);
    transition: .6s ease;
}
.sub_headers:hover {

    transform: scale(1.1);
    transition: .6s;
}
/* About Me Design*/
#about_me {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(223, 223, 223);
    font-weight: 600;
    font-size: large;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: url(space_gif.gif);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .93;
    margin-top: 2.795em;
}
#about_me p {
    color: rgb(223, 223, 223);
    text-align: center;
}

#introduction {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 1em;
}
#resume {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em;
}
/* skill page design*/
#skills {
    display: flex;
    flex-direction: column;
    background-color:rgb(31, 31, 31);
    color: whitesmoke;
    align-items: center;
    padding: 1em;
}
#contact_me {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    gap: 20px;
    color: rgb(31, 31, 31);
    margin-bottom: 2em;
}