html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

nav {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color:rgb(162, 205, 243);
}